@import "preflight.css";
@import "../fonts/inter.css";

:root {
  /* colors */
  --primary-color: lightblue;
  --secondary-color: #eeefff;
  /* fonts */
  --font-family: "Inter var", sans-serif;
  /* borders */
  /* breakpoints */
  /* spacing */
}

/* mobile screens */
html {
  font-family: var(--font-family);
}

.mt-4 {
  margin-top: 1rem;
}

.contact {
  padding: 3rem 1rem;
}

.contact-content h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: #38a169;
}

.contact-content p {
  margin-top: 0.5em;
  color: #2d3748;
}

.contact-form {
  margin-top: 2rem;
}

textarea,
input[type="text"],
input[type="email"] {
  width: 100%;
  border-radius: .25rem;
  appearance: none;
  border-width: 2px;
  line-height: 1.25;
  color: #4a5568;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

input[type="email"]:focus,
input[type="text"]:focus {
  outline: 0;
  border-color: #C05621;
}

.box-cta {
  margin-top: 1rem;
}

.box-btn {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  border-radius: .5rem;
  color: white;
  background-color: #C05621;
  padding: .75rem 1rem;
  width: 100%;
  line-height: 1.5rem;
  text-align: center;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

.box-btn:focus {
  outline: 0;
}

.box-btn:hover {
  background-color: #ED8936;
}


/* small screens */
@media (min-width: 640px) {
}

/* medium screens */
@media (min-width: 768px) {
  .contact {
    display: flex;
    padding: 3.5rem;
  }

  .contact-content,
  .contact-form {
    width: 50%;
  }

  .contact-form {
    margin: 0 auto;
  }
}

/* large screens */
@media (min-width: 1024px) {
  .box-btn {
    width: 25%;
  }
}

/* extra large screens */
@media (min-width: 1280px) {
}
