@import "preflight.css";
@import "../fonts/inter.css";

:root {
  /* colors */
  --primary-color: lightblue;
  --secondary-color: #eeefff;
  /* fonts */
  --font-family: "Inter var", sans-serif;
  /* borders */
  /* breakpoints */
  /* spacing */
}

/* mobile screens */
html {
  font-family: var(--font-family);
}

.text-tertiary {
  color: #bd633f;
}

.u-flex {
  display: flex;
}

.u-flex-noshrink {
  flex-shrink: 0;
}

.u-v-center {
  align-items: center;
}

.u-h-center {
  justify-content: center;
}

.mkt {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mkt-content {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mkt-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #1a202c;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.mkt-text {
  font-size: 1rem;
  font-weight: 400;
  color: #718096;
  margin-top: 1rem;
}

.mkt-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: white;
  border-radius: 0.375rem;
  background-color: #38a169;
}

.mkt-icon svg {
  width: 1.5rem;
  height: 1.50rem;
}

.mkt-feature-list {
  margin-top: 2.5rem;
}

.mkt-feature-list ul li {
  margin-top: 2.5rem;
}

.mkt-feature-list ul li:first-child {
  margin-top: 0;
}

.mkt-feature {
  margin-left: 1rem;
}

.mkt-feature h4 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height; 1.5rem;
  color: #1a202c;
}
.mkt-feature p {
  font-size: 1rem;
  font-weight: 500;
  line-height; 1.5rem;
  color: #a0aec0;
  margin-top: .5rem;
}

/* small screens */
@media (min-width: 640px) {
  .mkt-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* medium screens */
@media (min-width: 768px) {
  .mkt-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mkt-feature-list ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 2.5rem;
  }

  .mkt-feature-list ul li {
    margin-top: 0; 
  }
}

/* large screens */
@media (min-width: 1024px) {
  .mkt-header {
    text-align: center;
  }
}

/* extra large screens */
@media (min-width: 1280px) {
}
