@import "preflight.css";
@import "../fonts/inter.css";

:root {
  /* colors */
  --primary-color: lightblue;
  --secondary-color: #eeefff;
  /* fonts */
  --font-family: "Inter var", sans-serif;
  /* borders */
  /* breakpoints */
  /* spacing */
}

/* mobile screens */
html {
  font-family: var(--font-family);
}

.container {
  padding: 3rem 1rem;
  background-color: #eee;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list .box:first-child {
  margin-top: 0;
}

.box {
  width: 32rem;
  max-width: 32rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: white;
}

/*.top-box {
  order: 1;
}*/

.box-header,
.box-body {
  padding: 2rem 1rem;
}

.box-header h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #C05621;
}

.box-header p {
  font-size: 1rem;
  font-weight: 400;
  color: #718096;
  margin-top: 1rem;
}

.box-body {
  background-color: #f9fafb;
  border-top-width: 2px;
  border-color: #f4f5f7;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.box-body ul li {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.box-body ul li:first-child {
  margin-top: 0;
}

.box-body ul li svg {
  height: 1.5rem;
  width: 1.5rem;
  color: #38a169;
}

.box-body ul li p {
  margin-left: 0.75rem;
  color: #4a5568;
  line-height: 1.5rem;
}

.box-cta {
  margin-top: 2.5rem;
}

.box-btn {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  border-radius: .5rem;
  color: white;
  background-color: #C05621;
  padding: .75rem 1rem;
  width: 100%;
  line-height: 1.5rem;
  text-align: center;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

.box-btn:focus {
  outline: 0;
}

.box-btn:hover {
  background-color: #ED8936;
}

.price {
  display: flex;
  align-items: flex-start;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}

.dollar-sign {
  margin-top: .25rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.freq {
  color: #718096;
  font-size: 1.5rem;
  font-weight: 500;
}

.flex {
  display: flex;
}

.align-items-end {
  align-items: flex-end;
}

.mt-3 {
  margin-top: .75rem;
}

/* small screens */
@media (min-width: 640px) {
}

/* medium screens */
@media (min-width: 768px) {
  .list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .box {
    max-width: 30%;
    flex-grow: 1;
    margin: 0 auto;
  }
}

/* large screens */
@media (min-width: 1024px) {
}

/* extra large screens */
@media (min-width: 1280px) {
}
