* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: $font-family-fallback;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: $font-family;
  }
}

body {
  margin: 0 auto;
  color: $text-base;
  background-color: $white;
}
