.contact {
  @media (min-width: $breakpoint-md) {
    display: flex;
  }
}

.contact-block {
  @media (min-width: $breakpoint-md) {
    width: 50%;
  }

  h3 {
    font-size: $text-3xl;
    font-weight: $text-bold;
    color: $text-dark;
    line-height: $leading-none;
  }

  p {
    font-size: $text-md;
    font-weight: $text-normal;
    color: $text-base;
    margin-top: $sz-6;
  }
}

form {
  margin-top: $sz-4;

  @media (min-width: $breakpoint-md) {
    margin-top: 0;
  }
}

textarea,
input[type="text"],
input[type="email"] {
  width: 100%;
  border-radius: $rounded;
  appearance: none;
  border-width: 2px;
  line-height: $leading-tight;
  color: $text-base;
  padding: $sz-2 $sz-4;

  &:focus {
    outline: 0;
    border-color: $bg-secondary;
  }
}
