.mkt {
  background-color: $bg-tertiary-lite;
  padding-top: $sz-8;
  padding-bottom: $sz-8;
}

.mkt-block h3 {
  font-size: $text-3xl;
  font-weight: $text-bold;
  color: $text-dark;
  line-height: $leading-none;
}

.mkt-block p {
  font-size: $text-md;
  font-weight: $text-normal;
  color: $text-base;
  margin-top: $sz-6;
}

.mkt-feature-list {
  padding-top: $sz-8;
  padding-bottom: $sz-8;
}

.mkt-feature {
  display: flex;
  margin-top: $sz-10;
}

.mkt-feature:first-child {
  margin-top: 0;
}

.mkt-feature-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $sz-12;
  height: $sz-12;
  color: $white;
  border-radius: $rounded-md;
  background-color: $bg-primary;
}

.mkt-feature-icon svg {
  width: $sz-6;
  height: $sz-6;
}

.mkt-feature-content {
  margin-left: $sz-4;
}

.mkt-feature-content h4 {
  font-size: $text-lg;
  font-weight: $text-semibold;
  line-height: $sz-6;
  color: $text-dark;
}

.mkt-feature-content p {
  font-size: $text-md;
  font-weight: $text-normal;
  line-height: $sz-6;
  color: $text-base;
  margin-top: $sz-2;
}

@media (min-width: $breakpoint-sm) {
  .mkt-feature-content h4 {
    font-size: $text-xl;
  }
}

@media (min-width: $breakpoint-md) {
  .mkt {
    padding-top: $sz-16;
    padding-bottom: $sz-16;
  }

  .mkt-block h3 {
    font-size: $text-4xl;
  }

  .mkt-feature-list {
    padding-top: $sz-12;
    padding-bottom: $sz-12;
  }

  .mkt-feature-list ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: $sz-8;
    row-gap: $sz-10;
  }

  .mkt-feature {
    margin-top: 0;
  }

  .mkt-feature-content h4 {
    font-size: $text-2xl;
  }
}

@media (min-width: $breakpoint-lg) {
  .mkt-feature-list {
    padding-top: $sz-16;
    padding-bottom: $sz-16;
  }

  .mkt-block {
    text-align: center;
  }
}
