.price-header {
  text-align: center;

  h3 {
    font-size: $text-3xl;
    font-weight: $text-bold;
    color: $text-dark;
    line-height: $leading-tight;

    @media (min-width: $breakpoint-md) {
      font-size: $text-4xl;
    }
  }

  p {
    font-size: $text-md;
    font-weight: $text-normal;
    color: $text-base;
    margin-top: $sz-6;
  }
}

.price-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $sz-8;
  padding-bottom: $sz-8;

  @media (min-width: $breakpoint-md) {
    padding-top: $sz-12;
    padding-bottom: $sz-12;
  }

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    align-items: flex-start;
    padding-top: $sz-16;
    padding-bottom: $sz-16;
  }
}

.price-item {
  margin-top: $sz-4;
  border-radius: $rounded-lg;
  background-color: $white;
  border: $sz-2 solid $tertiary;
  overflow: hidden;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  @media (min-width: $breakpoint-md) {
    width: 75%;
    max-width: 75%;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 30%;
  }
}

.item-header {
  padding: $sz-8 $sz-4;

  h3 {
    font-size: $text-md;
    font-weight: $text-bold;
    color: $text-secondary;
  }

  p {
    font-size: $text-md;
    font-weight: $text-normal;
    color: $text-base;
    margin-top: $sz-4;
  }

  div {
    display: flex;
    align-items: flex-end;
    margin-top: $sz-3;
  }

  .item-price {
    display: flex;
    align-items: flex-start;
    font-size: $sz-12;
    font-weight: $text-ultrabold;
    line-height: $leading-none;
  }

  .dollar-sign {
    margin-top: $sz-1;
    font-size: $sz-6;
    font-weight: $text-bold;
  }

  .freq {
    color: $text-lite;
    font-size: $sz-6;
    font-weight: $text-medium;
  }
}

.item-body {
  background-color: $bg-lite;
  padding: $sz-8 $sz-4;
  border-top-width: 2px;
  border-color: $bg-dark;
  border-bottom-left-radius: $rounded-lg;
  border-bottom-right-radius: $rounded-lg;
}

.item-feature {
  display: flex;
  align-items: flex-start;
  margin-top: $sz-4;

  &:first-child {
    margin-top: 0;
  }

  svg {
    height: $sz-6;
    width: $sz-6;
    color: $text-primary;
  }

  p {
    margin-left: $sz-3;
    color: #4a5568;
    line-height: $sz-6;
  }
}

.price-custom {
  padding-top: $sz-8;

  @media (min-width: $breakpoint-md) {
    padding-top: $sz-12;
  }

  @media (min-width: $breakpoint-lg) {
    padding-top: $sz-16;
  }
}

.price-item-custom {
  margin-top: 0;
  border-radius: $rounded-lg;
  background-color: $white;
  border: $sz-2 solid $tertiary;
  overflow: hidden;

  @media (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.item-custom-header {
  padding: $sz-8 $sz-4;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    width: 50%;
  }

  h3 {
    font-size: $text-3xl;
    font-weight: $text-bold;
    color: $text-dark;
    line-height: $leading-tight;

    @media (min-width: $breakpoint-md) {
      font-size: $text-4xl;
    }
  }
}

.item-custom-body {
  padding: $sz-8 $sz-4;
  background-color: $bg-lite;
  border-top-width: 2px;

  @media (min-width: $breakpoint-md) {
    width: 50%;
    border-width: 0;
    border-left-width: 2px;
  }

  p {
    margin-top: 0;
  }

  > div {
    padding-top: $sz-8;
  }
}
