.companies-block {
  text-align: center;

  h3 {
    font-size: $text-3xl;
    font-weight: $text-bold;
    color: $text-dark;
    line-height: $leading-tight;

    @media (min-width: $breakpoint-md) {
      font-size: $text-4xl;
    }
  }
}

.companies-img-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: $sz-6;

  li {
    display: flex;
    align-items: center;
    padding: $sz-4;

    img {
      width: 100px;
      object-fit: cover;

      @media (min-width: $breakpoint-lg) {
        width: 150px;
      }
    }
  }
}
