.about-head {
  color: $text-dark;
  font-size: $text-4xl;
  font-weight: $text-extrabold;
  line-height: $leading-tight;

  @media screen and (min-width: $breakpoint-sm) {
    font-size: $text-5xl;
  }

  @media screen and (min-width: $breakpoint-md) {
    font-size: $text-6xl;
  }

  @media screen and (min-width: $breakpoint-lg) {
    font-size: $text-5xl;
  }

  @media screen and (min-width: $breakpoint-xl) {
    font-size: $text-6xl;
  }
}

.about-subhead {
  font-size: $text-3xl;
  font-weight: $text-bold;
  color: $text-dark;
  line-height: $leading-none;

  @media (min-width: $breakpoint-md) {
    font-size: $text-4xl;
  }
}

.about-text {
  p {
    color: $text-base;
    font-size: $text-md;
    font-weight: $text-normal;
    margin-top: 1rem;
  }

  .service {
    display: flex;
    align-items: flex-start;
    margin-top: $sz-4;

    svg {
      height: $sz-6;
      width: $sz-6;
      color: $text-primary;
    }

    p {
      margin-left: $sz-3;
      margin-top: 0;
    }
  }
}
