.companies {
  padding-top: $sz-8;
  padding-bottom: $sz-8;
}

.companies-block h3 {
  font-size: $text-3xl;
  font-weight: $text-bold;
  color: $text-dark;
  line-height: $leading-tight;
}

.pics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: $sz-6;
}

.pics div {
  display: flex;
  align-items: center;
  padding: $sz-4;
}

.pics img {
  width: 100px;
  object-fit: cover;
}

@media (min-width: $breakpoint-md) {
  .companies {
    padding-top: $sz-16;
    padding-bottom: $sz-16;
  }

  .companies-block h3 {
    font-size: $text-4xl;
  }
}

@media (min-width: $breakpoint-lg) {
  .pics img {
    width: 150px;
  }
}
