.price {
  background-color: $bg-tertiary-lite;
  padding-top: $sz-8;
  padding-bottom: $sz-8;
}

.price-block h3 {
  font-size: $text-3xl;
  font-weight: $text-bold;
  color: $text-dark;
  line-height: $leading-tight;
}

.price-block > p {
  font-size: $text-md;
  font-weight: $text-normal;
  color: $text-base;
  margin-top: $sz-6;
}

.price-custom-block,
.boxes {
  padding-top: $sz-8;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $sz-8;
}

.boxes .box:first-child {
  margin-top: 0;
}

.box-custom,
.box {
  margin-top: $sz-4;
  border-radius: $rounded-lg;
  background-color: $white;
  border: $sz-2 solid $tertiary;
  overflow: hidden;
}

.box {
  width: 100%;
}

.box-header,
.box-body {
  padding: $sz-8 $sz-4;
}

.box-header h3 {
  font-size: $text-md;
  font-weight: $text-bold;
  color: $text-secondary;
}

.box-header .box-header-price {
  display: flex;
  align-items: flex-end;
  margin-top: $sz-3;
}

.box-header p {
  font-size: $sz-4;
  font-weight: $text-normal;
  color: $text-base;
  margin-top: $sz-4;
}

.box-body {
  background-color: $bg-lite;
  border-top-width: 2px;
  border-color: $bg-dark;
  border-bottom-left-radius: $rounded-lg;
  border-bottom-right-radius: $rounded-lg;
}

.price-block-body {
  padding-top: $sz-8;
}

.box-body ul li,
.price-block-body ul li {
  display: flex;
  align-items: flex-start;
  margin-top: $sz-4;
}

.box-body ul li:first-child,
.price-block-body ul li:first-child {
  margin-top: 0;
}

.box-body ul li svg,
.price-block-body ul li svg {
  height: $sz-6;
  width: $sz-6;
  color: $text-primary;
}

.box-body ul li p,
.price-block-body ul li p {
  margin-left: $sz-3;
  color: #4a5568;
  line-height: $sz-6;
}

.box-price {
  display: flex;
  align-items: flex-start;
  font-size: $sz-12;
  font-weight: $text-ultrabold;
  line-height: $leading-none;
}

.dollar-sign {
  margin-top: $sz-1;
  font-size: $sz-6;
  font-weight: $text-bold;
}

.freq {
  color: $text-lite;
  font-size: $sz-6;
  font-weight: $text-medium;
}

@media (min-width: $breakpoint-md) {
  .price {
    padding-top: $sz-16;
    padding-bottom: $sz-16;
  }

  .price-block h3 {
    font-size: $text-4xl;
  }

  .price-custom-block,
  .boxes {
    padding-top: $sz-12;
  }

  .boxes {
    padding-bottom: $sz-12;
  }

  .box {
    width: 75%;
    max-width: 75%;
  }
}

@media (min-width: $breakpoint-lg) {
  .price-custom-block,
  .boxes {
    padding-top: $sz-16;
  }

  .boxes {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: $sz-16;
  }

  .box {
    max-width: 30%;
    margin: 0 auto;
  }
}
