.section {
  padding-top: $sz-8;
  padding-bottom: $sz-8;
}

section {
  padding-top: $sz-6;
  padding-bottom: $sz-6;
}

section:first-child {
  padding-top: 0;
}

section:last-child {
  padding-bottom: 0;
}

.section-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-flex .section-block img {
  display: none;
}

.section-block h3 {
  color: $text-primary;
  font-size: $text-3xl;
  font-weight: $text-bold;
  line-height: $leading-none;
}

.section-block p {
  margin-top: $sz-6;
  color: $text-base;
}

@media (min-width: $breakpoint-md) {
  .section {
    padding-top: $sz-16;
    padding-bottom: $sz-16;
  }

  section {
    padding-top: $sz-8;
    padding-bottom: $sz-8;
  }

  .section-flex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .section-flex .section-block img {
    display: block;
  }

  .section-block h3 {
    font-size: $text-4xl;
  }
}

@media (min-width: $breakpoint-lg) {
  section {
    padding-top: $sz-10;
    padding-bottom: $sz-10;
  }
}

@media (min-width: $breakpoint-xl) {
  section {
    padding-top: $sz-12;
    padding-bottom: $sz-12;
  }
}
